#############################################
#   C++
#############################################
C++/**/build
**.json

#############################################
#   MATLAB
#############################################
# Windows default autosave extension
*.asv
# OSX / *nix default autosave extension
*.m~
# Compiled MEX binaries (all platforms)
*.mex*
# Packaged app and toolbox files
*.mlappinstall
*.mltbx
# Generated helpsearch folders
helpsearch*/
# Simulink code generation folders
slprj/
sccprj/
# Matlab code generation folders
codegen/
# Simulink autosave extension
*.autosave

#############################################
#   YAML
#############################################
*.jar

#############################################
#   Latex
#############################################
*~
**.bbl
**.blg
**.lof
**.lot
**.lol
**.tdo
**.toc
**.aux
**.fdb_latexmk
**.log
**.out
**.rel
**.fls
**.synctex.gz
**-eps-converted-to.pdf
**ilg
**.xml
**-blx.bib
**.gz
**.bib.bak